#logout-btn {
    height: 40px;
    width: 60px;
    background: #1489c2;
    border: 0px;
    color: #ffffff;
    font-weight: bolder;
}

#logout-btn:hover {
    background: #c27c4e;
}

.easyui-linkbutton :hover {
    color: #5a60c2;
}

.easyui-linkbutton {
    background: #ffffff;
}

.nav-list {
    width: 100px;
}


